<!doctype html>
<title>Gimme memes!</title>
<h1>Thanks for the tar!</h1>
<p>Thanks for the memes! I'll look at them when I...</p>
<p><blink>*** BEEP BEEP BEEP ***</blink></p>
<p>What's this alert? The file with all that important info has been modified?!?!?</p>
<p><small>* Drops flag while running to check on the situation. *</small></p>
<p>FLAG: T52g9aGCoguEIdH7GapskzOjS7spjpHJ</p>
<h2>Moral of the story:</h2>
<p>Sometimes there are CVEs where the solution is "We'll add a warning to the documentation." Be sure to heed those warnings!</p>
<br />
<a href="https://nvd.nist.gov/vuln/detail/CVE-2007-4559">CVE-2007-4559</a>
<br />
<a href="https://docs.python.org/3/library/tarfile.html#tarfile.TarFile.extractall">Python documentation of TarFile.extractall</a>
<br />
<a href="/">Back</a>

